/* CSS Document */

/* ROW SETUP */
.row {
	display: flex;
	flex-wrap: wrap;
}

/* COLUMN SETTINGS */
.col {padding: 20px;}

.w1 {flex: 1%;}
.w2 {flex: 2%;}
.w3 {flex: 3%;}
.w4 {flex: 4%;}
.w5 {flex: 5%;}
.w6 {flex: 6%;}
.w7 {flex: 7%;}
.w8 {flex: 8%;}
.w9 {flex: 9%;}
.w10 {flex: 10%;}
.w11 {flex: 11%;}
.w12 {flex: 12%;}
.w13 {flex: 13%;}
.w14 {flex: 14%;}
.w15 {flex: 15%;}
.w16 {flex: 16%;}
.w17 {flex: 17%;}
.w18 {flex: 18%;}
.w19 {flex: 19%;}
.w20 {flex: 20%;}
.w21 {flex: 21%;}
.w22 {flex: 22%;}
.w23 {flex: 23%;}
.w24 {flex: 24%;}
.w25 {flex: 25%;}
.w26 {flex: 26%;}
.w27 {flex: 27%;}
.w28 {flex: 28%;}
.w29 {flex: 29%;}
.w30 {flex: 30%;}
.w31 {flex: 31%;}
.w32 {flex: 32%;}
.w33 {flex: 33%;}
.w34 {flex: 34%;}
.w35 {flex: 35%;}
.w36 {flex: 36%;}
.w37 {flex: 37%;}
.w38 {flex: 38%;}
.w39 {flex: 39%;}
.w40 {flex: 40%;}
.w41 {flex: 41%;}
.w42 {flex: 42%;}
.w43 {flex: 43%;}
.w44 {flex: 44%;}
.w45 {flex: 45%;}
.w46 {flex: 46%;}
.w47 {flex: 47%;}
.w48 {flex: 48%;}
.w49 {flex: 49%;}
.w50 {flex: 50%;}
.w51 {flex: 51%;}
.w52 {flex: 52%;}
.w53 {flex: 53%;}
.w54 {flex: 54%;}
.w55 {flex: 55%;}
.w56 {flex: 56%;}
.w57 {flex: 57%;}
.w58 {flex: 58%;}
.w59 {flex: 59%;}
.w60 {flex: 60%;}
.w61 {flex: 61%;}
.w62 {flex: 62%;}
.w63 {flex: 63%;}
.w64 {flex: 64%;}
.w65 {flex: 65%;}
.w66 {flex: 66%;}
.w67 {flex: 67%;}
.w68 {flex: 68%;}
.w69 {flex: 69%;}
.w70 {flex: 70%;}
.w71 {flex: 71%;}
.w72 {flex: 72%;}
.w73 {flex: 73%;}
.w74 {flex: 74%;}
.w75 {flex: 75%;}
.w76 {flex: 76%;}
.w77 {flex: 77%;}
.w78 {flex: 78%;}
.w79 {flex: 79%;}
.w80 {flex: 80%;}
.w81 {flex: 81%;}
.w82 {flex: 82%;}
.w83 {flex: 83%;}
.w84 {flex: 84%;}
.w85 {flex: 85%;}
.w86 {flex: 86%;}
.w87 {flex: 87%;}
.w88 {flex: 88%;}
.w89 {flex: 89%;}
.w90 {flex: 90%;}
.w91 {flex: 91%;}
.w92 {flex: 92%;}
.w93 {flex: 93%;}
.w94 {flex: 94%;}
.w95 {flex: 95%;}
.w96 {flex: 96%;}
.w97 {flex: 97%;}
.w98 {flex: 98%;}
.w99 {flex: 99%;}
.w100 {flex: 100%;}