/* CSS Document */

/* IMPORT ADDITIONAL SHEETS */
@import "responsive.css";
@import "https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css";
@import "https://fonts.googleapis.com/css2?family=Ubuntu&display=swap";


/* GENERAL FORMATTING */
* {
box-sizing: border-box;
}

body {
	font-family: 'Ubuntu', sans-serif;
	margin: 0;
}

h1 {
	color: darkgoldenrod;
	margin: 0;
}

h2 {
	color: darkgoldenrod;
	text-align: left;
}


/* HEADER */
.header {
	width: 100%;
	height: 100px;
}

.header_top {
	width: 100%;
	height: 50px;
	background-color: rgb(3,2,41);
}

.header_bottom {
	width: 100%;
	height: 50px;
	background-color: darkgoldenrod;
}

.nav_menu {
	width: auto;
	height: 100%;
	margin-left: 350px;
	overflow: hidden;
}

.nav_menu a {
	float: left;
	font-size: 16px;
	color: white;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
}

.nav_menu_item {
	float: left;
	overflow: hidden;
}

.nav_menu_item .dropdown_button {
	font-size: 16px;
	border: none;
	outline: none;
	color: white;
	padding: 14px 16px;
	background-color: inherit;
	font-family: inherit;
	margin: 0;
}

.nav_menu a:hover, .nav_menu_item:hover, .dropdown_button {
	background-color: rgb(3,2,41);
}

.dropdown_content {
	display: none;
	position: absolute;
	background-color: rgb(3,2,41);
	min-width: 160px;
	box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
	z-index: 1;
}

.dropdown_content a {
	float: none;
	text-decoration: none;
	display: block;
	text-align: left;
}

.dropdown_content a:hover {
	background-color:rgba(105,75,0,1.00)
}

.nav_menu_item:hover .dropdown_content {
	display: block;
}

.logo {
	width: 150px;
	height: auto;
	position: absolute;
	margin-left: 150px;
}

#top_logo {
	width: 100%;
	height: auto;
}

#homepage_video {
	width: 100%;
	height: auto;
	min-height: 100%;
	min-width: 1300px;
	position: absolute;
}

.header_image_about {
	padding: 0;
	height: 300px;
	overflow: hidden;
	z-index: -1;
	position: relative;
	border-bottom: 5px solid darkgoldenrod;
	background-image: url("../img/about/about_header.jpg");
	background-size: cover;
	background-position: bottom;
}

.header_text_container {
	position: relative;
	top: 50%;
	transform: translateY(-50%);
	width: 100%;
	text-align: center;
}

.featurette {
	padding: 0;
	color: white;
	height: 600px;
	overflow: hidden;
	z-index: -1;
	position: relative;
	border-bottom: 5px solid darkgoldenrod;
}

.homepage_video_text, .header_image_text {
	background: rgba(0,0,0,0.6);
	color: #FFF;
	width: 100%;
	height: 100%;
	padding: 20px;
	font-size: 50px;
	position: absolute;
}

.video_text_container {
	position: relative;
	top: 50%;
	transform: translateY(-50%);
	width: 100%;
	float: left;
}


/* BODY */
.leading_text_title {
	font-size: 1.5em;
	text-transform: uppercase;
	text-align: left;
	float: left;
}

.custom_button {
	color: rgb(226, 178, 58);
	border-radius: 6px;
	border-color: rgb(226, 178, 58);
	background-color: aliceblue;
	padding: 2px 6px;
	border: 1px solid;
	font-size: 20px;
	text-decoration: none;
	font-weight: bold;
	transition: 0.5s;
}

.custom_button:hover {
	color: rgb(3,2,41);
	border-color: rgb(3,2,41);
}

.line {
	width: 300px;
	height: 3px;
	position: absolute;
	background-color: darkblue;
	border-radius: 10px;
	transform: translateX(-50%);
}

.section_title {
	width: 100%;
	text-align: center;
	font-size: 1.5em;
	margin-top: 1em;
}

.news_slider {
	width: 350px;
	margin-left: auto;
	margin-right: auto;
}

.slides_image {
	display: none;
}

img {
	vertical-align: middle;
}

.slides_dot {
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active {
  background-color: #717171;
}

.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

.featured_banner {
	width: 100%;
	height: auto;
}

.img-hover-zoom {
  overflow: hidden;
}
.img-hover-zoom img {
  transition: transform 1s ease;
}
.img-hover-zoom:hover img {
  transform: scale(1.1);
}


/* FOOTER */
.footer {
	text-align: center;
	background: url("../img/home/footer.jpg") no-repeat;
	background-size: cover;
	background-position: bottom;
	padding-top: 1em;
}

#footer_logo {
	width: 100px;;
	height: auto;
}

.in {
	list-style: none;
	text-align: left;
	padding: 0;
}

.in li {
	padding-bottom: 0.5em;
}

.in a {
	text-decoration: none;
	color: rgba(200,200,200,1.00);
}

.in a:hover {
	color: white;
}

#footer_text {
	color: rgba(200,200,200,1.00);
}


/* RESPONSIVE LAYOUT */
@media screen and (max-width: 700px) {
	.row, .navbar {
		flex-direction: column;
	}
}
.principal_picture {
	width: 80%;
	height: auto;
}
